
#EVENTS table td {
	width: 130px;
	text-align: left;
	border-bottom: 1px dashed #9999ff;
}

#EVENTS table th {
	text-align: left;
}

input {
	width: 250px;
}

input[type="submit"] {
	width: auto;
}

.scrollPanel {
	height: 100px;
	font-size: 18px;
	font-family: "Georgia", "Times New Roman";
	overflow: auto;
}

.scrollPanel .nameColumn {
	width: 250px;
}